<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload and Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css?v=1.0') }}">

</head>
<body>
    <h1>Upload a Video for Processing</h1>

    <form action="{{ url_for('UPLOAD_FOLDER') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*" required>
        <br><br>
        <button type="submit">Upload Video</button>
    </form>

    {% if frame_available %}
        <div class="frame-container">
            <h2>Processed Frame:</h2>
            <img src="{{ url_for('PROCESSED_FOLDER') }}?t={{ timestamp }}" alt="Processed Frame">
        </div>
    {% else %}
        <div class="frame-container">
            <p>No processed frame available yet. Please upload a video to start processing.</p>
        </div>
    {% endif %}
</body>
</html>
